/* Navbar CSS */
img {
  margin-top: 17px;
  height: 17rem;
}
.pages {
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
}
.pages a:nth-child(even) {
  font-size: x-large;
  color: black;
  transition: color 0.5s;
}

.pages a:nth-child(odd) {
  margin: 2px;
  font-size: xx-large;
  color: white;
  transition: color 0.7s;
}

.pages a:hover {
  text-decoration: none;
  color: red;
}

/* Hero Section */

.hero {
  background-color: black;
  height: 70vh;
  position: relative;
  z-index: -1;
  top: -30px;
}

.custom-shape-divider-bottom-1707923524 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1707923524 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 191px;
}

.custom-shape-divider-bottom-1707923524 .shape-fill {
  fill: #FFFFFF;
}
